In [ ]:
                 QUESTION 1

In [ ]:
def is used to create a function .

In [4]:
l = []
def odd_no():
    for i in range(1,25):
        if i%2!=0:
            l.append(i)
    return l

In [5]:
odd_no()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [ ]:
                  QUESTION 2

In [ ]:
Putting *args and **kwargs as the last items in your function definitionâ€™s argument list allows that function to accept an arbitrary number of arguments and keyword arguments.

In [6]:
def add(*ad):
    sum = 0
    for i in ad :
        sum = sum +i 
        
    return sum

In [7]:
add(3,5,6,7,85,4,5)

115

In [26]:
def call(**k):
    for key , value in k.items():
        print(key +" is "+ value +" of the class")

In [27]:

call(shivam="student",sumit="topper",tanmay="portman")

shivam is student of the class
sumit is topper of the class
tanmay is portman of the class

In [ ]:
                                 QUESTION 3

In [ ]:
Iterator is an object that contain a countable number of value or object that can be iterated (that it can be traverse through all value )
method used to The initialise the iterator object is the 'iterator' iter() method. The method used for iteration is the 'next' next() method.

In [3]:
l = iter([2,4,6,8,10,12,14,16,18,20])
for i in range(5):
    print(next(l))

2
4
6
8
10

In [ ]:
                                  QUESTION 4

In [ ]:
 generator function is a function that returns an iterable object (such as a list or a dictionary) that can be used in a for loop.
Unlike a regular function, a generator function will not run until the user calls it.

In [ ]:
 The yield statement produces a generator object and can return multiple values to the caller without terminating the program,
 whereas a return statement is used to return a value to the caller from within a function and it terminates the program.

In [ ]:
def func(n,l):
    a = 0
    while a<n :
        yield l[a]
        a=a+1

In [5]:
for i in func(5,[3,4,5,6,3,23,54,64,64,45]):
    print(i)

3
4
5
6
3

In [ ]:
                          QUESTION 5

In [4]:
def gen():
    p = []
    for num in range(2,1001):
        c= 0 
        for i in range(2,num):
            if num%i==0:
                break
        else:
            p = 
    yield p

In [11]:
art = gen()
# for i in range(20):
print(next(art,"done"))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
                         QUESTION 6

In [3]:
a ,b = 0,1
n=0
while n<10:
    print(a) 
    c = a 
    a = b 
    b = c + a 
    n = n+1

0
1
1
2
3
5
8
13
21
34

In [ ]:
 QUESTION 7

In [4]:
s = "pwskills"
[i for i in s]

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [ ]:
QUESTION 8

In [ ]:
n = list(input('enter the no'))
t = len(n)
i = 0
c = 0
while t>i:
    if n[i]==n[t-1]:
        i = i+1 
        t = t-1 
else:
    c =1
    print(' a palindrome')
if c == 0 :
    print('not a palindrome')

In [ ]:
 QUESTION 9

In [1]:
[i for i in range(1,101) if i%2!=0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]