In [ ]:
                                                             QUESTION 1

In [ ]:

    solution :  for loop 
                     In for loop initialization , condition checking and the iteration statement are written in starting . It is used only when the number of iteration are known 
                     if condition not mention it will run infinite time 
                       eg :-
                              for i in range(10):
                                  print(i)
             
                while loop 
                        In while loop only initialization and condition checking are written in starting . It is used only when the number of iteration are not known 
                        and if condition not mention it will give error    
                    eg:-
                        i = 0
                        while i < 10:
                            print(i)
                            i=i+1

In [1]:
 for i in range(10):
        print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
i = 0
while i < 10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
                                                                QUESTION 2

In [1]:
#SOLUTION
# using for loop  
sum = 0
product = 1
for i in range(1,11):
    sum = sum + i
    product = product *i 
print("sum of 10 natural number is ",sum)    
print("product of 10 natural number is ",product)

sum of 10 natural number is  55
product of 10 natural number is  3628800

In [2]:
# using while loop 
a = 1
sum = 0
product = 1
    
while a < 11:
    sum = sum + a
    product = product *a
    a=a+1
print("sum of 10 natural number is ",sum)    
print("product of 10 natural number is ",product)

sum of 10 natural number is  55
product of 10 natural number is  3628800

In [ ]:
                                                              QUESTION 3

In [9]:
#SOLUTION 
unit = float(input('enter the no of unit consumed '))
bill = 0
if unit > 300 :
    bill = (unit-300)*20
    unit = 300
if unit > 200:
    bill = bill + (unit-200)*10
    unit = 200
if unit > 100 :
    bill = bill + (unit-100)*6
    unit = 100
if unit > 0 :
    bill = bill + unit*4.5

print('the total bill is ',bill)

enter the no of unit consumed  310

the total bill is  2250.0

In [ ]:
                                              QUESTION 4

In [14]:
l = list(range(0,101))
l1=[]
for i in l :
    if (i**3)%4==0 or (i**3)%5==0:
        l1.append(i**3)
print(l1)

[0, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [23]:
s = "I want to become a data scientist"
count = 0
s1 =""
for i in s :
    if i in ['a','e','i','o','u','A','E','I','O','U']:
        count = count+1 
        s1 = s1 +" " +i
print(count)
print(s1)

12
 I a o e o e a a a i e i